$colors: (
	neutral: (
		500: #45464e,
		400: #8b8d97,
		300: #eef0fa,
		200: #f8f8f8,
		100: #ffffff,
	),
	primary: (
		200: #5570f1,
		100: #5570f11f,
	),
	secondary: (
		300: #ffead1,
		200: #fef5ea,
		100: #ffcc9129,
	),
	safe: (
		200: #519c66,
		100: #32936f1f,
	),
	danger: (
		200: #cc5f5f,
		100: #f57e771f,
	),
);
