@use '../abstracts/' as *;
@use '../utilities/' as *;

.card {
	display: grid;
	gap: 3.5rem;
	background: clr(neutral, 100);
	border-radius: $border-radius;
	padding: $card-body-padding;

	&__top,
	&__bottom {
		@extend %flex-between;
	}

	p {
		font-size: fs(500);
	}

	h5 {
		font-size: fs(500);
		font-weight: $fw-700;
		color: clr(neutral, 500);
	}
}

.order-card {
	width: 100%;

	@include mq(medium) {
		width: 35%;
	}
}

.sales-card,
.customer-card,
.marketing-card {
	width: 100%;

	@include mq(medium) {
		width: 30%;
	}
}

.recent-order-card {
	gap: 0;
	width: 100%;

	@include mq(medium) {
		width: 40%;
	}
}

.product-inventory-card {
	width: 100%;
	color: clr(neutral, 100);
	background: clr(primary, 200);
}

.cart-inventory-card {
	width: 100%;
	margin-block: 2rem;
}

.marketing-card {
	&__goals {
		@extend %flex-gap;

		& > span {
			display: block;
			height: 1rem;
			width: 1rem;
			border-radius: 50%;

			&:nth-child(1) {
				background: clr(primary, 200);
			}

			&:nth-child(2) {
				background: clr(primary, 100);
			}

			&:nth-child(3) {
				background: clr(secondary, 100);
			}
		}
	}

	&__doughnut-chart {
		height: 20rem;
		width: 20rem;
		border-radius: 50%;
		background: conic-gradient(
			clr(secondary, 200) 0,
			clr(secondary, 200) 150deg,
			clr(primary, 100) 150deg,
			clr(primary, 100) 250deg,
			clr(primary, 200) 250deg,
			clr(primary, 200) 360deg
		);
		position: relative;
		z-index: 2;

		&::before {
			content: '';
			background: clr(neutral, 100);
			height: 11rem;
			width: 11rem;
			border-radius: 50%;
			position: absolute;
			top: 22%;
			left: 22%;
			z-index: 2;
		}

		&::after {
			content: '';
			background: #eef0fa;
			height: 15rem;
			width: 15rem;
			border-radius: 50%;
			position: absolute;
			top: 12%;
			left: 12%;
			z-index: 1;
		}
	}

	&__wrapper {
		height: 25rem;
		width: 25rem;
		border-radius: 50%;
		background: #eef0fa;
		margin-inline: auto;
		@include flex(column, center, center);
	}
}

.summary-card {
	margin-top: 2rem;
	width: 100%;
	&__chart {
		@include flex(row, space-around, flex-start);
		flex-direction: row !important;
		gap: 2rem;
		&--numbers {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		&--bar {
			background: #eef0fa;
			height: 18rem;
			width: 0.8rem;
			border-radius: 2rem;
			position: relative;
			overflow: hidden;

			&::after {
				content: '';
				background: clr(primary, 200);
				width: 100%;
				height: 40%;
				position: absolute;
				bottom: 0;
			}
		}
	}
}
