@use '../abstracts/' as *;
@use '../utilities/' as *;

.chat-list {
	& > form {
		position: relative;
	}

	&__search-icon {
		position: absolute;
		left: 2%;
		top: 15%;
	}

	&__search-input {
		height: 1.5rem;
		border-radius: 0.5rem;
		padding: 1.5rem 3rem;
		outline: none;
		border: 1px solid clr(neutral, 400);
	}
}

.chat-list-item {
	@extend %flex-between;
	gap: 1rem;
	border-bottom: clr(neutral, 300) 1px solid;
	padding: 1rem;

	&:last-child {
		border-bottom: none;
	}

	&__time {
		& > span {
			display: block;
		}
	}
}
